h2 {
  text-align: center;
}

.user-input {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  margin: 2% 20% 2% 20%;
}

.label {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  text-align: right;
  
}
#input {
  font-family: 'Azeret Mono', monospace;
  border-style: hidden;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 20%;
  color: black;
  text-align: center;
 }
 #input:focus {
  outline: none;
}

button {
  width: 200px;
  font-weight: bold;
}

.tickers-container {
  display: grid;
  grid-template-columns: 1;
  margin: 2% 18% 2% 30%;
  
}
.tickers {
  display: grid;
  grid-template-columns: repeat(5,5fr);
  justify-content: space-evenly;
  
  
}

.chart-container {
  display:grid;
  align-items: center;
  justify-content: center;
  
  
}